  <body class="hold-transition sidebar-mini">
    <div class="wrapper">
    
      <!-- Navbar -->

      <div class="main-header">
          <app-navbar></app-navbar>
      </div>
        
      

      <!-- /.navbar -->
    

      <!-- Main Sidebar Container -->
      <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <app-sidebar></app-sidebar>
      </aside>

  <!-- /.Main sidebar -->

      
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1 class="m-0">Lista korisnika</h1>
              </div><!-- /.col -->
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="/home">Home</a></li>
                </ol>
              </div><!-- /.col -->
            </div><!-- /.row -->
          </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <div class="container-fluid">
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">Zaposleni:</h3>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body">
                    <form>
                      <div class="form-group form-inline">
                        Pretraga: 
                        <input class="form-control ml-2" type="text" name="searchTerm" [(ngModel)]="searchTerm"
                                (input)="search($event.target.value)" />
                      </div>
                    </form>
                    <table class="table table-hover table-sm">
                      <thead>
                      <tr>
                        <th>Ime</th>
                        <th>Prezime</th>
                        <th>Korisničko ime</th>
                        <th>Email</th>
                        <th>Uloga</th>
                        <th *ngIf="roleId == '1'" >Izmeni / Ukloni</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let user of users | listFilter: searchTerm | slice: (page-1) * pageSize : page * pageSize; index as i">
                        
                        <td>{{user.first_name}}</td>
                        <td>{{user.last_name}}
                        </td>
                        <td>{{user.name}}</td>
                        <td> {{user.email}}</td>
                        <td>{{user.roleId}}</td>
                        <td *ngIf="roleId == '1'"><button type="button" class="btn-info"><span class="fas fa-user-edit"></span></button>&nbsp;&nbsp;<b>/</b>&nbsp;&nbsp;<button type="button" class="btn-danger"><span class="fas fa-user-slash"></span></button></td>
                      </tr>
                      
                      </tbody>
                      
                    </table>
                    
                  </div>
                  <!-- /.card-body -->
                  <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [maxSize]="5" [boundaryLinks]="true"
                    [pageSize]="pageSize" class="d-flex justify-content-center"></ngb-pagination>
                </div>
                <!-- /.card -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
          </div>
          <!-- /.container-fluid -->
        <!-- /.content -->
      </div>
      
      <!-- /.content-wrapper -->

      <!-- Main Footer -->
      <footer class="main-footer">
        <!-- To the right -->
        <div class="float-right d-none d-sm-inline">
          developed by Vladimir Pešić
        </div>
        <!-- Default to the left -->
        <strong>Copyright &copy; 2021 <a href="http://mikrokontrol.rs">Mikrokontrol</a>.</strong> All rights reserved.
      </footer>
    </div>
    <!-- ./wrapper -->
    
    <!-- REQUIRED SCRIPTS -->
    
    <!-- jQuery -->
    <script src="/../../assets/plugins/jquery/jquery.js"></script>
    <!-- Bootstrap 4 -->
    <script src="/../../assets/plugins/bootstrap/js/bootstrap.bundle.js"></script>
   
    <!-- AdminLTE App -->
    <script src="/../../assets/dist/js/adminlte.js"></script>
    
</body>

