<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->

<body class="hold-transition sidebar-mini">
<div class="wrapper">

  <!-- Navbar -->
  <div class="main-header">
    <app-navbar></app-navbar>
  </div>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <app-sidebar></app-sidebar>
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Novo zaduženje</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/home">Početna</a></li>
              <li class="breadcrumb-item"><a href="/projects">Projekti</a></li>
              <li class="breadcrumb-item"><a (click)="projectDetails(task.project_id);">{{task.projectName}}</a></li>
              <li class="breadcrumb-item active">Dodaj zaduženje</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6">
            

            <div class="card card-primary card-outline">
              <div class="card-body">
                <form (ngSubmit)="submit()" [formGroup]="form" >
                  <div class="input-group mb-3">
                    <input type="text" class="form-control" formControlName="taskName" [(ngModel)]="task.taskName" [ngClass]="{'is-invalid' : submitted  && f.taskName.errors}" name="taskName" id="taskName" required >
                    <div class="input-group-append">
                      <div class="input-group-text">
                        <span class="fas fa-user"></span>
                      </div>
                    </div>
                    <div *ngIf="submitted && f.taskName.errors"  class="invalid-feedback">
                      <div *ngIf="f.taskName.errors.required">
                        Molim vas unesite zaduženje.
                      </div>
                    </div>
                  </div>
                  <div class="input-group mb-3">
                    <textarea type="text" class="form-control" formControlName="description" [(ngModel)]="task.description"  name="description" id="description" required ></textarea>
                    <div class="input-group-append">
                      <div class="input-group-text">
                        <span class="fas fa-user"></span>
                      </div>
                    </div>
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group mb-3"><label for="userId">Zaduženi:</label></div>
                    <input type="text" class="form-control" formControlName="userId" [(ngModel)]="task.userName" readonly  >
                    <div class="input-group-append">
                      <div class="input-group-text">
                        <span class="fas fa-user"></span>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <button type="submit" class="btn btn-primary btn-block">Izmenite</button>
                  </div>
                </form>
              </div>
            </div><!-- /.card -->
          </div>
          <!-- /.col-md-6 -->
          
          <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
    <div class="p-3">
      <h5>Title</h5>
      <p>Sidebar content</p>
    </div>
  </aside>
  <!-- /.control-sidebar -->

  <!-- Main Footer -->
  <footer class="main-footer">
    <app-footer></app-footer>
  </footer>
</div>
<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->

<!-- jQuery -->
<script src="plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="dist/js/adminlte.min.js"></script>

</body>

