
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
    
      <!-- Navbar -->

  <div class="main-header">
    <app-navbar></app-navbar>
  </div>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <app-sidebar></app-sidebar>
  </aside>
          <!-- /.sidebar -->
  
    
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1 class="m-0">Starter Page</h1>
              </div><!-- /.col -->
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item active">{{user.first_name}} {{user.last_name}}</li>
                </ol>
              </div><!-- /.col -->
            </div><!-- /.row -->
          </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
    
        <!-- Main content -->
        <div class="content">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-6">
                <div class="card card-primary card-outline">
                  <div class="card-body">
                    <p class="login-box-msg">Izmena podataka korisnika</p>
              
                    <form (ngSubmit)="updateUserData()"  [formGroup]="form" >
                      <div class="input-group mb-3">
                        <input type="text" class="form-control" formControlName="name" [(ngModel)]="user.name">
                        <div class="input-group-append">
                          <div class="input-group-text">
                            <span class="fas fa-user"></span>
                          </div>
                        </div>
                      </div>
                      <div class="input-group mb-3">
                        <input type="text" class="form-control" formControlName="firstName" [(ngModel)]="user.first_name"  >
                        <div class="input-group-append">
                          <div class="input-group-text">
                            <span class="fas fa-user-circle"></span>
                          </div>
                        </div>
                      </div>
                      <div class="input-group mb-3">
                        <input type="text" class="form-control" formControlName="lastName" [(ngModel)]="user.last_name" >
                        <div class="input-group-append">
                          <div class="input-group-text">
                            <span class="fas fa-user-circle"></span>
                          </div>
                        </div>
                      </div>
                      <div class="input-group mb-3">
                        <input type="email" formControlName="email" class="form-control" [ngClass]="{'is-invalid' : submitted  && f.email.errors}" [(ngModel)]="user.email">
                        <div class="input-group-append">
                          <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                          </div>
                        </div>
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                          <div *ngIf="f.email.errors.email">
                            Email je u neispravnom formatu
                          </div>
                        </div>
                      </div>
                      <div class="input-group mb-3">
                        <input type="text" autocomplete="address" formControlName="address" class="form-control" [(ngModel)]="user.address">
                        <div class="input-group-append">
                          <div class="input-group-text">
                            <span class="fas fa-address-card"></span>
                          </div>
                        </div>
                      </div>
                      <div class="input-group mb-3">
                        <input type="text" autocomplete="city" formControlName="city" class="form-control" [(ngModel)]="user.city">
                        <div class="input-group-append">
                          <div class="input-group-text">
                            <span class="fas fa-city"></span>
                          </div>
                        </div>
                      </div>
                      <div class="input-group mb-3">
                        <input type="text" autocomplete="telephone" formControlName="telephone" class="form-control" [(ngModel)]="user.telephone">
                        <div class="input-group-append">
                          <div class="input-group-text">
                            <span class="fas fa-phone"></span>
                          </div>
                        </div>
                      </div>
                      <div class="input-group mb-3">
                        <input type="text" autocomplete="businessPhone" formControlName="businessPhone" class="form-control" [(ngModel)]="user.businessPhone">
                        <div class="input-group-append">
                          <div class="input-group-text">
                            <span class="fas fa-phone-square-alt"></span>
                          </div>
                        </div>
                      </div>
                      <div class="input-group mb-3">
                        <input type="date" formControlName="birthDay" class="form-control" [(ngModel)]="user.birthDay">
                      </div>
                      <div class="input-group mb-3" *ngIf="roleId == '1'">
                        <select class="form-control" formControlName="roleId" [(ngModel)]="user.roleId">
                          <option value="3">Korisnik</option>
                          <option value="2">Moderator</option>
                          <option value="1">Administrator</option>
                        </select>
                        <div class="input-group-append">
                          <div class="input-group-text">
                            <span class="fas fa-user-tag"></span>
                          </div>
                        </div>
                      </div>
                      
                      
                      <div class="row">
                        <button type="submit" class="btn btn-primary btn-block">Izmeni</button>
                      </div>
                    </form>
                  </div>
                </div><!-- /.card -->
              </div>
              <!-- /.col-md-6 -->
              <div class="col-lg-6">
                <div class="card">
                  <div class="card-header">
                    <h5 class="m-0">Profilna slika</h5>
                  </div>
                  <div class="card-body">
                    <form (ngSubmit)="submitUploadImage()">
                      <div [formGroup]="imageForm">
                        <div class="input-group">
                          <div class="custom-file">
                            <input type="file" class="form-control custom-file-input" id="image" name="image" formControlName="image" (change)="uploadImage($event)" [ngClass]="{ 'is-invalid' : submitted && fImage.image.errors }" >
                            <label class="custom-file-label" for="image">Izaberite fotografiju</label>
                              <div *ngIf="submitted && fImage.image.errors" class="invalid-feedback"></div>
                          </div>
                          <div class="input-group-append">
                            <button type="submit" class="input-group-text">Upload</button>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
    
                <div class="card card-primary card-outline">
                  <div class="card-header">
                    <h5 class="m-0">Dokumenta</h5>
                  </div>
                  <div class="card-body">
                   
                  </div>
                </div>
              </div>
              <!-- /.col-md-6 -->
            </div>
            <!-- /.row -->
          </div><!-- /.container-fluid -->
        </div>
        <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->
    
      
    
      <!-- Main Footer -->
      <footer class="main-footer">
        <app-footer></app-footer>
      </footer>
    </div>
    <!-- ./wrapper -->
    
    <!-- REQUIRED SCRIPTS -->
    
    <!-- jQuery -->
    <script src="plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="dist/js/adminlte.min.js"></script>
    </body>
    