<!DOCTYPE html>
<body class="hold-transition sidebar-mini">
   <div class="wrapper">
      <!-- Navbar -->
      <div class="main-header">
         <app-navbar></app-navbar>
      </div>
      <!-- /.navbar -->
      <!-- Main Sidebar Container -->
      <aside class="main-sidebar sidebar-dark-primary elevation-4">
         <app-sidebar></app-sidebar>
      </aside>
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
         <!-- Content Header (Page header) -->
         <div class="content-header">
            <div class="container-fluid">
               <div class="row mb-2">
                  <div class="col-sm-6">
                     <h1 class="m-0">Zaduženja</h1>
                  </div>
                  <!-- /.col -->
                  <div class="col-sm-6">
                     <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/home">Početna</a></li>
                        <li class="breadcrumb-item"><a href="/projects">Projekti</a></li>
                        <li class="breadcrumb-item"><a [routerLink]="['']" routerLinkActive="router-link-active"  (click)="projectDetails(task.project_id);">{{task.projectName}}</a></li>
                        <li class="breadcrumb-item active">{{task.taskName}}</li>
                     </ol>
                  </div>
                  <!-- /.col -->
               </div>
               <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
         </div>
         <!-- /.content-header -->
         <!-- Main content -->
         <div class="content">
            <div class="card">
               <div class="card-header">
                  <h3 class="card-title">Detalji zaduženja {{task.taskName}} </h3>
                  <div class="card-tools">
                     <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                     <i class="fas fa-minus"></i>
                     </button>
                     <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                     <i class="fas fa-times"></i>
                     </button>
                  </div>
               </div>
               <div class="card-body">
                  <div class="row">
                     <div class="col-12 col-md-12 col-lg-8 order-2 order-md-1">
                        <div class="row">
                           <div class="col-12">
                              {{task.description}}
                           </div>
                        </div>
                     </div>
                     <div class="col-12 col-md-12 col-lg-4 order-1 order-md-2">
                        <div class="user-panel mt-5 pb-5 mb-5 d-flex">
                           <div class="image">
                              <img  alt="Avatar" class="table-avatar" src="http://127.0.0.1:8000/storage/{{task.userPhoto}}" >
                           </div>
                           <div class="info">
                              <a routerLink='' (click)="userProfile(task.user_id);"  class="d-block">{{task.userName}}</a>
                           </div>
                        </div>
                        <br>
                        <p class="text-sm">Status: 
                           <span class="badge badge-{{task.statusClass}}">{{task.status}}</span>
                        </p>
                        <button *ngIf="roleId == '1' || userId == task.projectManagerId || userId == task.user_id" (click)="changeStatus(task.id);" class="badge badge-info">Promeni status</button>
                     </div>
                  </div>
               </div>
               <!-- /.card-body -->
            </div>
            <!-- /.card -->
         </div>
         <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->
      <!-- Main Footer -->
      <footer class="main-footer">
         <app-footer></app-footer>
      </footer>
   </div>
   <!-- ./wrapper -->
   <!-- REQUIRED SCRIPTS -->
   <!-- jQuery -->
   <script src="plugins/jquery/jquery.min.js"></script>
   <!-- Bootstrap 4 -->
   <script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
   <!-- AdminLTE App -->
   <script src="dist/js/adminlte.min.js"></script>
</body>