<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->

<body class="hold-transition sidebar-mini">
<div class="wrapper">

  <!-- Navbar -->
  <div class="main-header">
    <app-navbar></app-navbar>
  </div>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <app-sidebar></app-sidebar>
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Vozila</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/home">Početna</a></li>
              <li class="breadcrumb-item">Vozila</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Vozila:</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table class="table table-striped projects">
                    <thead>
                        <tr>
                            <th style="width: 10%">
                                
                            </th>
                            <th style="width: 15%">
                                Model
                            </th>
                            <th style="width: 15%">
                                Registarska oznaka
                            </th>
                            <th style="width: 15%">
                                Status
                            </th>
                            <th *ngIf="roleId == '1' || roleId == '2'" style="width: 20%">

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let car of cars">
                            <td>
                                <img alt="Avatar" class="table-avatar" src="http://127.0.0.1:8000/storage/{{car.image_path}}" >
                                <a href="http://127.0.0.1:8000/storage/{{car.document_path}}" *ngIf="car.document_path" class="btn btn-primary btn-sm" target="_blank">
                                    <i class="fas fa-file-alt"> </i>
                                </a>
                            </td>
                            <td>
                                {{car.model}}
                            </td>
                            <td>
                                {{car.registration}}
                            </td>
                            <td >
                                <p *ngIf="car.owner != 'Slobodan'; else elseBlock">Dodeljen: <a [routerLink]="['']" routerLinkActive="router-link-active" (click)="userProfile(car.user_id);" >{{car.owner}}</a></p>
                                <ng-template #elseBlock>Slobodan</ng-template>
                            </td>
                            <td *ngIf="roleId == '1' || roleId == '2'" class="project-actions text-right">
                                <a class="btn btn-info btn-sm" (click)="editCar(car.id)">
                                    <i class="fas fa-pencil-alt">
                                    </i>
                                    Izmeni
                                </a>
                                <a class="btn btn-danger btn-sm" (click)="deleteCar(car.id)">
                                    <i class="fas fa-folder-open">
                                    </i>
                                    Obriši
                                </a>
                            </td>
                        </tr>
                        
                    </tbody>
                </table>
                
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->


  <!-- Main Footer -->
  <footer class="main-footer">
    <app-footer></app-footer>
  </footer>
</div>
<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->

<!-- jQuery -->
<script src="plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="dist/js/adminlte.min.js"></script>
</body>

