<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->

<body class="hold-transition sidebar-mini">
<div class="wrapper">

  <!-- Navbar -->
  <div class="main-header">
    <app-navbar></app-navbar>
  </div>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <app-sidebar></app-sidebar>
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Projekti</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item">Početna</li>
              <li class="breadcrumb-item"><a href="/projects">Projekti</a></li>
              <li class="breadcrumb-item active">Detalji projekta</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Detalji projekta</h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
              <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
              <i class="fas fa-times"></i>
            </button>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-12 col-md-12 col-lg-8 order-2 order-md-1">
              <div class="row">
                <div class="col-12 col-sm-4">
                  <div class="info-box bg-light">
                    <div class="info-box-content">
                      <span class="info-box-text text-center text-muted">Budžet</span>
                      <span class="info-box-number text-center text-muted mb-0">{{project.budget}}</span>
                    </div>
                  </div>
                </div>
                <!-- <div class="col-12 col-sm-4">
                  <div class="info-box bg-light">
                    <div class="info-box-content">
                      <span class="info-box-text text-center text-muted">Iskoriš</span>
                      <span class="info-box-number text-center text-muted mb-0">2000</span>
                    </div>
                  </div>
                </div> -->
                <div class="col-12 col-sm-4">
                  <div class="info-box bg-light">
                    <div class="info-box-content">
                      <span class="info-box-text text-center text-muted">Završetak projekta</span>
                      <span class="info-box-number text-center text-muted mb-0">{{project.end}}</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <h4>Zaduženja</h4>
                  <div class="text-center mt-5 mb-3">
                    <table class="table table-striped projects">
                      <thead>
                          <tr>
                            <th style="width: 20%">
                              Zaposleni
                            </th>
                              <th style="width: 30%">
                                  Zaduženje
                              </th>
                              <th style="width: 10%">
                                Status
                            </th>
                              <th style="width: 20%">
                              </th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let task of tasks">
                              <td>
                                  <p>{{task.userName}}</p>
                              </td>

                              <td>
                                  <p>{{task.taskName}}</p>
                              </td>

                              <td>
                                <p class="{{task.statusClass}}">{{task.status}}</p>
                            </td>

                              <td class="project-actions text-right">
                                  <a class="btn btn-primary btn-sm" (click)="taskDetails(task.id)">
                                      <i class="fas fa-folder">
                                      </i>
                                      Detalji
                                  </a>
                                  <a class="btn btn-info btn-sm" (click)="editTask(task.id)">
                                      <i class="fas fa-pencil-alt">
                                      </i>
                                      Izmeni
                                  </a>
                                  <a class="btn btn-danger btn-sm" (click)="destroyTask(task.id)">
                                      <i class="fas fa-folder-open">
                                      </i>
                                      Ukloni
                                  </a>
                              </td>
                          </tr>
                          
                      </tbody>
                  </table>
                  </div>
                </div>
                <div class="col-12">
                  <div class="text-center mt-5 mb-3">
                    <a (click)="addTask(projectId)" class="btn btn-sm btn-primary">Dodaj zaduženje</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-12 col-lg-4 order-1 order-md-2">
              <h3 class="text-primary"> {{project.projectName}}</h3>
              <p class="text-muted">{{project.desc}}</p>
              <br>
              <div class="text-muted">
                <p class="text-sm">Klijent
                  <b class="d-block">{{project.companyName}}</b>
                </p>
                <p class="text-sm">Menadžer projekta
                  <b class="d-block" ><a (click)="userProfile(project.userId);">{{project.projectManagerName}}</a></b>
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Main Footer -->
  <footer class="main-footer">
    <app-footer></app-footer>
  </footer>
</div>
<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->

<!-- jQuery -->
<script src="plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="dist/js/adminlte.min.js"></script>
</body>

